RewriteEngine on

RewriteBase /
RewriteCond %{REQUEST_FILENAME| !-f
RewriteCond %{REQUEST_FILENAME| !-d

RewriteCond %{REQUEST_URI} !^/ps_system/CodeIgniter/
RewriteRule ^(.*)$ /ps_system/CodeIgniter/$1
RewriteRule ^(/)?$ /ps_system/CodeIgniter/index.php [L]